.container-costos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-costos{
    background-color: white;
    width: 600px;
    margin-top: 5%;
    border: 1px solid #000000;
    border-radius: 15px;
    height: 400px;
}
.main-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h3-costo{
    font-size: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top:3%;
    padding-bottom: 2%;
}
.form-group{
    font-size: 25px;

}

.form-control{
    border: #000000 1px   solid;
    border-radius: 10px;
    border-top-left-radius: 10px; 
    border-bottom-left-radius: 10px; 
}
.btn-costos{
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn{
    width: 200px;
    font-size: 20px;
}
