.table-container {
    display: flex;
    justify-content: space-between;
   
}

/* Estilo opcional para las tablas */
table {
    border-collapse: collapse;
    

   
}

th, td {
    border: 1px solid #050505;
    padding: 8px;
    text-align: left;
   
}

th {
    background-color: #91A3FF;
}
 .btn-primary{
    float: right;
    margin-right: 50px;
    
 }
.btn3 {
    width: 240px;
    height: 80px;
    margin-top: 20px; 
    margin-left: 960px; 
    background-color: #91a2ff;
    border-radius: 20px;
}
