.btn6 {
    width: 240px;
    height: 80px;
    margin-top: 20px; 
    margin-left: 960px; 
    background-color: #91a2ff;
    border-radius: 20px;
}

.container-datos-reporte {
    width: 90%;
    max-width: 1200px;
    margin: 80px auto 40px;
    padding: 40px, 0;
    position: static;
  }

  .container-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
