.btn6 {
    width: 240px;
    height: 80px;
    margin-top: 20px; 
    margin-left: 960px; 
    background-color: #91a2ff;
    border-radius: 20px;
    font-size: 25px;
    float: right;
    margin-top: -8%;
    margin-right: 2%;
}

.container-datos-reporte {
    width: 90%;
    max-width: 1200px;
    margin: 80px auto 40px;
    padding: 40px, 0;
    position: static;
   
  }

  .container-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
.reporte-1{
  background-color: white;
  border-radius: 15px;
  width: 30%;
  text-align: left;
  float: right;
  margin-top: -31%;
  margin-right: 20%;
  height: 40%;

  
}
.title{
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
}