.btnR {
    width: 240px;
    height: 80px;
    margin-top: 20px; 
    margin-left: 960px; 
    background-color: #91a2ff;
    border-radius: 20px;
}
.btnS {
    width: 240px;
    height: 80px;
    margin-top: 20px; 
    margin-left: 960px; 
    background-color: #91a2ff;
    border-radius: 20px;
}