.title-vehiculo{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 5%;
    font-size: 50px;
}
.vehiculos{
    width: 90%;
    max-width: 1200px;
    margin: 80px auto 40px;
    padding: 40px, 0;
    position: static;
}

.contenedor-vehiculos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}

.card{
    border-radius: 20px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: static;
    overflow: hidden;
}

.card .textos h3 {
    display: flex;
    justify-content: center; /* Centrado horizontal *//* Esto asegura el centrado vertical en la pantalla completa, ajusta según tus necesidades */
}

.card .textos{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-vehiculo{
    top: 22%;
    left: 70%;
    position: absolute;

}

.btn2 {
    width: 240px;
    height: 80px;
    font-size: 30px;
    background-color: #91a2ff;
    border-radius: 15px;
 
}

.card.seleccionado {
    border: 6px solid #91a2ff; /* Borde para resaltar la tarjeta seleccionada */
}
